<div>
    <h2>
        <span>Organizations</span>
        <button class="btn btn-primary float-right jh-create-entity create-organization-ag" [routerLink]="['/', { outlets: { popup: ['organization-ag-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Organization
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="organizations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>B I Component</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations ;trackBy: trackId">
                <td><a [routerLink]="['../organization-ag', organization.id ]">{{organization.id}}</a></td>
                <td>{{organization.name}}</td>
                <td>
                    <div *ngIf="organization.bIComponentId">
                        <a [routerLink]="['../bi-component-ag', organization.bIComponentId  ]" >{{organization.bIComponentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../organization-ag', organization.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'organization-ag/'+ organization.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'organization-ag/'+ organization.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
